<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Delete</title>
</head>
<body>
<section>
  <a href="/">Back to log in Page</a>
  <a href="/addProducts">Add Products To List</a>
  <a href="/viewProducts">View Products</a>
  <a href="/updateProducts">Update Products</a>
  <a href="/deleteProduct">Delete Products</a>
</section>

<section>
  <form method="get">
    <label> Add product array id to delete:</label>
    <input type="number" name="number" value="0" min="0">
    <button type="submit"> Delete</button>
  </form>
</section>

</body>
</html>