<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update</title>
  <link href="/styles.css" rel="stylesheet">
</head>
<body>

<section class="navmenu">
  <a href="/">Back to log in Page</a>
  <a href="/addProducts">Add Products To List</a>
  <a href="/viewProducts">View All Products</a>
</section>
 <section class="main" >
   <h2>EDIT PRODUCT</h2>
<br>
<form th:action="@{/products/edit/{id} (id=*{id})}" th:object="${editProducts}" method="POST">

  <label> ID: </label><br>
    <input type="text" disabled="disabled" name="id" th:field="*{id}" /><br>

  <label >UUID:</label><br>
    <input type="text" hidden="hidden" name="uuid" th:field="*{uuid}" /><br> <!-- DOES NOT WORK IF NOT HIDEN -->

  <label>Name: </label><br>
    <input  type="text" name="productName" th:field="*{name}" /><br>

  <label>Quantity: </label><br>
    <input  type="text" name="quantity" th:field="*{quantity}"><br>

  <label>Price: </label><br>
   <input  type="text" name="price" th:field="*{price}"  min="0" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1'); "/><br>

  <label>Description: </label><br>
    <!--  <input class="updateinput" type="text" name="description" th:field="*{description}" /> -->
      <textarea class="inputStyle" name="description" th:field="*{description}"> </textarea><br>

  <label>isAvailable: </label><br>
      <input type="text" name="isAvailable" th:field="*{available}" /><br>

  <button type="submit" value="Submit">Update</button>

</form>

 </section>

<footer>
  <p class="pFooter"> 2023</p>
</footer>

</body>
</html>