<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" xmlns:th="http://www.thymeleaf.org">
  <title>View All Products</title>
</head>
<body>
<!-- VIEW PRODUCTS -->
<section>
  <a href="/">Back to log in Page</a>
  <a href="/addProducts">Add Products To List</a>
  <a href="/viewProducts">View All Products</a>
</section>



<h2>LIST OF PRODUCTS</h2>
<section>
  <!-- we will display all PRODUCTS here -->
  <h5 th:if="${listOfAllProducts.isEmpty()}"> There are no Products</h5>
  <table border="1" th:if="!${listOfAllProducts.isEmpty()}" >
    <tr>
        <td>ID</td>
        <td>UUID</td>
        <td>NAME</td>
        <td>QUANTITY</td>
        <td>PRICE</td>
        <td>DESCRIPTION</td>
      <td>IS_AVAILABLE</td>
      <td> </td>
    </tr>

    <tr th:each="newProductList : ${listOfAllProducts}">
      <td th:text="${newProductList.getId()}"></td>
      <td th:text="${newProductList.getUuid()}"></td>
      <td th:text="${newProductList.getName()}"></td>
      <td th:text="${newProductList.getQuantity()}"></td>
      <td th:text="${newProductList.getPrice()}"></td>
      <td th:text="${newProductList.getDescription()}"></td>
      <td th:text="${newProductList.isAvailable()}"></td>
      <td>
  <a href="#" th:href="@{/products/edit/{id} (id=${newProductList.id})}"> Edit</a>
  <a href="#" th:href="@{/products/delete/{id} (id=${newProductList.id})}"> Delete</a>
      </td>

    </tr>
  </table>
</section>

</body>
</html>